%h3.page-header 
  About iQube's Skill Development Platform (SDP)
%p.lead
  %strong What is iQube SDP
  %br
%p
  iQubeSDP is a Skill Development Platform that employs a coaching based Training / Learning style to help and guide you in learning a world class relevant technology skill in just 3 months..
  %br 
  SDP is a community of knowledge-driven professionals in the IT industry who are willing and able to learn skills relevant to our society and their personal career goals and aspirations, thereby helping to solve challenges and problems using these skills and tools learnt. 
  %br These skill learned provide you with ample opportunity to be able to stand-out among your equals based on skills you already have and the kind of projects you have been able to carry out using those skills. 
  %br Reason being that, SDP may provide you with the chance of working on real company projects after the 3-months duration of learning for each skill. 
  %brEach skill training costs N5000 and users can enrol for as many skills as possible At the moment, SDP offers trainings in the following skills with a token of N5000 per skill over a duration of 3 months for each skill 
  %br Available SDP skills: SDP Preparation, J2ME, Qt, LNA, LSA, Advanced TCP/IP, Artificial Intelligence, Machine Learning, 3D Animations, Android Development, MySQL, Web Application Architecture, Bash scripting, Python, Database admin, Data Structures & Algorithms, Java, Linux Systems/Network Programming, Perl, C/C++, Javascript, SMS Technology, VoIP, IVR/VoiceXML, Cloud, Computing, GSM Architecture, Networking 
  %br Requirements to enrol for SDP are: 1. A PC with internet connection! 2. A teachable individual :)